{
    "config": {
        "binPath": "",
        "ytdlpPath": "",
        "storage": {
            "local": {
                "rootPath": "",
                "videoPath": "Vidéos/new",
                "audioPath": "Musique/new"
            },
            "device": {
                "rootPath": "",
                "videoPath": "Movies",
                "audioPath": "Music"
            }
        }
    }
}
